/*body {*/
/*    background: rgb(99, 39, 120)*/
/*}*/

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #0d6efd;
    box-shadow: none;
    border: none
}



.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 13px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.errors {
  color: darkred;
  list-style: none;
  margin: 0;
  padding: 0;
}

.errors li {
  margin: 5px 0;
}
 .required {
    color: #F80606FF;
     font-size: 10px;
 }