{% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?filter={{ filter_params }}&page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?filter={{ filter_params}}&page={{ page_obj.previous_page_number }}">Previous</a>
    {% else %}
  {% endif %}
    {% if page_obj.paginator.num_pages > 1 %}
  <a class="btn btn-info mb-4" href="?filter={{ filter_params }}&page={{ page_obj.number }}">{{ page_obj.number }}</a>
    {% endif %}
  {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?filter={{ filter_params }}&page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?filter={{ filter_params }}&page={{ page_obj.paginator.num_pages }}">Last</a>
  {% endif %}
